*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    /* background-color: rgb(255, 0, 0); */
    height: 100vh;
}

.cell-1{
    background-color: rgb(255, 255, 255);
    /* border: 2px solid; */
    display: grid;
    place-items: center;
}

.frame img{
    height: 750px;
    width: 100%;
    border: none;
}

.cell-2{
    text-align: center;
    /* background-color: coral; */
}

.cell-2 p{
    font-size: 2.2em;
    font-size: 900;
}

.rows{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr auto 0.1fr;
    /* background-color:aqua; */
    padding: 1em;
}

.row-1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.row-1 button{
    padding: 8px;
    font-size: 1.2em;
    border: 2px solid;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}

.row-1>button p{
    font-size: 1.2em;
    font-weight: 500;
}

.fam{
    height: 32px;
    width: 32px;
    border-radius: 100%;
}

.fam img{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.row-2{
    display: grid;
    grid-template-rows: auto auto auto;
}

.gender{
    display: grid;
    place-items: center;
}

.a{
    display: flex;
    align-items: center;
    padding-top: 1em;
    gap: 1em;
}

.a button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-size: 1.2em;
    border-radius: 12px;
    padding: 8px;
    color: rgb(0, 0, 0);
    background: transparent;
    border: none;
}

.a img{
    height: 32px;
    border-radius: 100%;
}

.details{
    background-color: chartreuse;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5em;
    padding-top: 1em;
    height: 100%;
    width: 100%;
}

.demo{
        width: 100%;
        background-color: blueviolet;
        
}



/* small screen */
@media screen and (max-width:600px){
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    .container{
        display: grid;
        grid-template-rows: 0.65fr 1fr;
        grid-template-columns: 1fr;
        padding: 1em;
        background-color: rgb(255, 217, 0);
    }
    
    .cell-1{
        background-color: rgb(9, 161, 199);
        border: 2px solid;
        display: grid;
        place-items: center;
    }

    .frame{
        height: 100%;
        width: 100%;
    }

    .frame img{
        height: 250px;
        width: 100%;
    }

    .cell-2{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.3fr 4fr;
    }

    .cell-2 p{
        padding: 0.5em;
        font-size: 1.2em;
        font-weight: 900;
    }
    
    .rows{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr auto 0.1fr;
    }
    
    .row-1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap:0px 5px;
    }
    
    .row-1 button{
        border: 2px solid;
        border-radius: 8px;
        padding: 2px 2px;
    }

    .row-1>button p{
        font-size: 0.8em;
        font-weight: 500;
        padding: 0px;
    }
    
    .fam{
        display: none;
    }
    

}





/* medium screen */

@media screen and (min-width: 601px) and (max-width: 1000px)   {

.container{
    display: grid;
    grid-template-rows: 0.75fr 1fr;
    grid-template-columns: 1fr;
    padding: 1em;
    background-color: blue;
}

.cell-1{
    background-color: rgb(103, 14, 155);
    border: 2px solid;
    display: grid;
    place-items: center;
}

.frame img{
    height: 400px;
    width: 100%;
}


}








